@model PersonAddress
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <form asp-action="Create">
            <div class="form-group">
                <h1 class="display-4">Test</h1>
                <p>For simplicity, input values are hard coded into the controller.</p>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
